<div class="check-answers">
  <h1 class="check-answers-title">Check your answers before submitting</h1>

  <div class="check-answers-section">
    <h2 class="check-answers-heading">Personal details</h2>
    <dl class="summary-list">
      <div>
        <dt>Name</dt>
        <dd>Sarah Philips</dd>
        <dd class="summary-list-actions"><a href="#">Change<span class="visually-hidden"> name</span></a></dd>
      </div>
      <div>
        <dt>Date of birth</dt>
        <dd>5 January 1978</dd>
        <dd class="summary-list-actions"><a href="#">Change<span class="visually-hidden"> date of birth</span></a></dd>
      </div>
    </dl>
  </div>

  <div class="check-answers-submit">
    <button type="submit" class="btn btn-primary">Accept and send</button>
  </div>
</div>
