<table class="table table-bordered">
  <thead>
    <tr><th>File ID</th><th>File name</th><th>Uploaded</th><th class="right">Action</th></tr>
  </thead>
  <tbody>
    <tr>
      <td><span class="mono">8421</span></td>
      <td>okafor_lstm_v2.docx</td>
      <td>2026-04-29 09:14</td>
      <td class="right"><a href="#">Download<span class="visually-hidden"> file 8421</span></a></td>
    </tr>
    <tr>
      <td><span class="mono">8422</span></td>
      <td>figures_v2.zip</td>
      <td>2026-04-29 09:14</td>
      <td class="right"><a href="#">Download<span class="visually-hidden"> file 8422</span></a></td>
    </tr>
  </tbody>
</table>
