{% macro app_footer(version="v1.7", help_url="#") %}
<footer class="app-footer">
  <span>Janeway · {{ version }}</span>
  <a href="{{ help_url }}">Help &amp; documentation</a>
</footer>
{% endmacro %}
