<div class="item-list" id="item-list-authors">
  <input type="hidden" name="authors-count" value="2" aria-hidden="true">
  <input type="hidden" name="authors-max" value="10" aria-hidden="true">
  <div class="item-list-items">
    <div class="item-list-item" id="authors-item-0">
      <div class="item-list-item-header">
        <h3 class="item-list-item-heading">Author 1</h3>
      </div>
      <div class="item-list-item-body">
        <div class="form-group">
          <label class="form-label" for="author_name_0">Name</label>
          <input class="form-input" type="text" id="author_name_0" name="author_name_0" value="Sarah Philips">
        </div>
      </div>
    </div>
    <div class="item-list-item" id="authors-item-1">
      <div class="item-list-item-header">
        <h3 class="item-list-item-heading">Author 2</h3>
        <button type="button" class="btn btn-small">Delete<span class="visually-hidden"> author 2</span></button>
      </div>
      <div class="item-list-item-body">
        <div class="form-group">
          <label class="form-label" for="author_name_1">Name</label>
          <input class="form-input" type="text" id="author_name_1" name="author_name_1">
        </div>
      </div>
    </div>
  </div>
  <div class="item-list-add">
    <button type="button" class="btn">Add another author</button>
    <p class="item-list-remaining">You can add 8 more authors</p>
  </div>
</div>
